/*button {
  display:block;
  float:left;
  background-color: lightblue;
  color: black;
  border: 3px #8C7A90 double;
  border-radius:10px;
  padding:10px;
  font-size:15px;
  margin:0px 15px 0px 150px;
    
  }*/

  button:hover {
    background-color:darkblue;
    color:white;
  }
  
  #myCanvasCar{
    border : 1px black solid;
  }
  